@if (User.Identity.IsAuthenticated)
{
    <div class="login_button reg-menu">
        <div class="dropdown">
            <button class="dropbtn">Hello, @User.Identity.Name</button>
            <div class="dropdown-content">
                <a asp-action="Index" asp-controller="Profile">My Courses</a>
                <a href="#"><form method="post" asp-controller="Account" asp-action="Logout" asp-antiforgery="true">
    <input type="submit" value="Log Out" class="log-out-button" />
</form></a>
            </div>
        </div>
        
    </div>
}
else
{
    <div class="btn-group pull-right">
        <div class="login-registration_button"><a asp-action="Login" asp-controller="Account">Login</a></div>
        <div class="login-registration_button"><a asp-action="Register" asp-controller="Account">Register</a></div>
    </div>
}
