@if (User.Identity.IsAuthenticated)
{
    <div class="login_button reg-menu">
        <ul class="main-menu">
            <li>
                <a href="#services">Услуги</a>
                <ul class="sub-menu">
                    <li><a href="#1">Разработка</a></li>
                    <li><a href="#2">Продвижение</a></li>
                    <li><a href="#3">Контекст</a></li>
                </ul>
            </li>
        </ul>
        <div class="test">Hello, @User.Identity.Name</div>
        <form method="post" asp-controller="Account" asp-action="Logout" asp-antiforgery="true">
            <input type="submit" value="Log Out" class="log-out-button" />
        </form>
    </div>
}
else
{
    <div class="btn-group pull-right">
        <div class="login-registration_button"><a asp-action="Login" asp-controller="Account">Login</a></div>
        <div class="login-registration_button"><a asp-action="Register" asp-controller="Account">Register</a></div>
    </div>
}
