
@model OnlineCourseSystem.Domain.Model.Tasks.QuestionTask


    <div class="question-wrap">
        <div class="question-body">
            <div>
                <h2 class="question-title">@Model.Question</h2>
            </div>
            <div class="question-paragraph">
                <p>@Model.Description</p>
            </div>
            <div class="question-form">
                <input name="courseId" id="courseId" type="hidden" value="@Model.Id" />
                <input name="taskId" id="taskId" type="hidden" value="@Model.Id" />
                <textarea class="question-area" placeholder="Enter your answer"></textarea>
                <button id="send-answer" class="counter_form_button question-button question-button-send">Send answer</button>
            </div>

            
        </div>
        <div class="nav-buttons">
            <button class="counter_form_button question-button move-back-btn">Back</button>
            <button class="counter_form_button question-button move-next-btn">Next</button>
        </div>
    </div>



<script>
 $("#send-answer").click(function() {
     $.ajax({
         url: "/User/CourseStatistic/Question",
         type: "GET",
         data: {
             answer: ,
             taskId: ,
             courseId: ,
         }
     }).
         done(function (res) {
             console.log(res.rezult);
         });
 });
</script>