
@model OnlineCourseSystem.Domain.Model.Tasks.QuestionTask


    <div class="question-wrap">
        <div class="question-body">
            <div>
                <h2 class="question-title">@Model.Question</h2>
            </div>
            <div class="question-paragraph">
                <p>@Model.Description</p>
            </div>
            <div class="question-form">
                <form>
                    <textarea class="question-area" placeholder="Enter your answer"></textarea>
                    <button class="counter_form_button question-button question-button-send">Send answer</button>
                </form>
            </div>

            
        </div>
        <div class="nav-buttons">
            <button class="counter_form_button question-button move-back-btn">Back</button>
            <button class="counter_form_button question-button move-next-btn">Next</button>
        </div>
    </div>
