@model OnlineCourseSystem.Domain.Model.Tasks.TextTask

    <div class="question-wrap">

        

        <div class="text-task">
            <div class="question-title">
                <h2>@Model.Name</h2>
            </div>
            <div class="question-subtitle">
                <h3>Test</h3>
            </div>
            <p>
                @Model.Data
            </p>
            <div class="nav-buttons">
                <button class="counter_form_button question-button">Back</button>
                <button class="counter_form_button question-button">Next</button>
            </div>
        </div>

           


            
        </div>

