@model OnlineCourseSystem.Domain.Model.Tasks.TextTask

    <div class="question-wrap">

        

        <div class="text-task">
            <div class="question-title">
                <h2>Know your audience</h2>
            </div>
            <div class="question-subtitle">
                <h3>Who is your audience?</h3>
            </div>
            <p>
                It sounds simple, but so many writers put pen to paper—or finger to keyboard—before thinking about who it is they’re trying to reach. Before drafting content, ask yourself these questions: Who is my primary audience? What about a secondary audience who can influence and inform my primary audience? How will they find my site online?
            </p>
            <p>
                For example, say you’re creating a website for a law firm. Your primary audience might be existing clients. However, your secondary audience is much broader and could include other attorneys, law reporters, or anyone who might need your services in the future. You’ll need to make sure your content is both accessible and interesting to all of these audiences. What kind of questions might these groups ask about a particular topic? Where are they most active online? What kind of information do they need?
            </p>
            <div class="nav-buttons">
                <button class="counter_form_button question-button">Back</button>
                <button class="counter_form_button question-button">Next</button>
            </div>
        </div>

           


            
        </div>

