@model OnlineCourseSystem.Domain.Model.Tasks.VideoTask



    <div class="question-wrap video-wrap">
        <h2 class="quiz-title">@Model.Name</h2>
        <div class="video">
            <video id='my-video' class='video-js' controls preload='auto' width='800' height='450'
               poster='MY_VIDEO_POSTER.jpg' data-setup='{}'>
            <source src='@Model.VideoUrl' type='video/mp4'>
            <source src='MY_VIDEO.webm' type='video/webm'>
            <p class='vjs-no-js'>
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
            </p>
        </video>
        </div>
        <div class="nav-buttons">
            <button class="counter_form_button question-button move-back-btn">Back</button>
            <button class="counter_form_button question-button move-next-btn">Next</button>
        </div>
    </div>

    <script>
        var player = videojs('my-video', {
            width: '800',
            height: '450'
        });

    </script>