@model OnlineCourseSystem.Domain.Model.Tasks.VideoTask



    <div class="question-wrap video-wrap">
        <h2 class="quiz-title">ARRO.ARRA WORK</h2>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=2PNT1X32kBo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
            
        <div class="nav-buttons">
            <button class="counter_form_button question-button">Back</button>
            <button class="counter_form_button question-button">Next</button>
        </div>
    </div>
