@model OnlineCourseSystem.Domain.Model.Tasks.VideoTask



    <div class="question-wrap video-wrap">
        <h2 class="quiz-title">@Model.Name</h2>
        <div class="video">
            <video width="560" height="315" src="@Model.VideoUrl"></video>
        </div>
            
        <div class="nav-buttons">
            <button class="counter_form_button question-button">Back</button>
            <button class="counter_form_button question-button">Next</button>
        </div>
    </div>
