
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/User/Views/Shared/_LayoutMain.cshtml";
}

    <div class="container">
        <div class="create-wrap">
            <div class="create-section">
                <h3 class="create-name-title">Create your event</h3>
                <div class="create-box">
                    <div class="create-name-subtitle">Event Name:</div>
                    <input class="create-section-input" type="text" name="name" value="" />
                </div>
                <div class="create-box">
                    <form>

                        <div class="create-name-subtitle">Choose time:</div><input type="datetime-local" name="calendar">

                    </form>
                </div>
                <div class="create-box">
                    <div class="create-name-subtitle">Event address:</div>
                    <input class="create-section-input" type="text" name="name" value="" />
                </div>
                <div class="create-text">
                    <textarea class="create-text-input" placeholder="Enter comment here"></textarea>
                </div>
                <button class="home_search_button create-button">Create</button>
            </div>
        </div>
        
    


    </div>


