<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wkila</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Wkila project">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="~/styles/bootstrap4/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/styles/reset.css">


    <link href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/styles/fonts.css">
    <link rel="stylesheet" type="text/css" href="~/styles/header.css">
    <link rel="stylesheet" type="text/css" href="~/styles/menu.css">
    <link rel="stylesheet" type="text/css" href="~/styles/footer.css">


    @RenderSection("Links", false)


    @*<link rel="stylesheet" type="text/css" href="~/styles/courses.css">
        <link rel="stylesheet" type="text/css" href="~/styles/courses_responsive.css">
        <link rel="stylesheet" href="~/styles/bs-pagination.css">*@
    @*<link href="~/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">*@

    @*<link rel="stylesheet" type="text/css" href="~/styles/course.css">
        <link rel="stylesheet" type="text/css" href="~/styles/course_responsive.css">
        <link rel="stylesheet" type="text/css" href="~/css/pushy.css">
        <link rel="stylesheet" type="text/css" href="~/styles/course_nav_menu.css">
        <link rel="stylesheet" type="text/css" href="~/styles/creator-menu.css">
        <link rel="stylesheet" type="text/css" href="~/styles/video-task.css">
        <link rel="stylesheet" type="text/css" href="~/styles/text-task.css">
        <link rel="stylesheet" type="text/css" href="~/styles/question-task.css">
        <link rel="stylesheet" type="text/css" href="~/styles/quiz-task.css">
        <link rel="stylesheet" type="text/css" href="~/styles/login-form.css">
        <link rel="stylesheet" type="text/css" href="~/styles/upload-content.css">*@
    @*<link rel="stylesheet" type="text/css" href="~/styles/turbo-button.css">*@
    @*<link rel="stylesheet" type="text/css" href="~/styles/create-event.css">
        <link rel="stylesheet" type="text/css" href="~/styles/profile-menu.css">
        <link rel="stylesheet" type="text/css" href="~/styles/access-warning.css">
        <link rel="stylesheet" type="text/css" href="~/styles/course-statistic.css">*@



</head>
<body>

    <div class="super_container">
        <!-- Header -->

        @await Html.PartialAsync("Partial/_Header")
        @await Html.PartialAsync("Partial/_MobileMenu")
        @RenderBody()
        <!-- Footer -->
        @await Html.PartialAsync("Partial/_Footer")
    </div>

    @RenderSection("Scripts",false)
    @*<script src="~/plugins/colorbox/jquery.colorbox-min.js"></script>
        <script src="~/js/about.js"></script>
        <script src="~/js/contact.js"></script>*@
    
</body>
</html>
