
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/Shared/_LayoutMain.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/styles/contact.css">
<link rel="stylesheet" type="text/css" href="~/styles/contact_responsive.css">
<!-- Home -->

<div class="home">
    <div class="breadcrumbs_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact -->

<div class="contact">

    <!-- Contact Map -->

    <div class="contact_map">

        <!-- Google Map -->

        <div class="map">
            <div id="google_map" class="google_map">
                <div class="map_container">
                    <div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10835.41455645093!2d-119.88389438039955!3d47.23900870705253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xffed22597964b33f!2sMicrosoft+Quincy+Data+Center!5e0!3m2!1sru!2sru!4v1558359199830!5m2!1sru!2sru" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                </div>
            </div>
        </div>

    </div>

    <!-- Contact Info -->

    <div class="contact_info_container">
        <div class="container">
            <div class="row">

                <!-- Contact Form -->
                <div class="col-lg-6">
                    <div class="contact_form">
                        <div class="contact_info_title">Contact Form</div>
                        <form action="#" class="comment_form">
                            <div>
                                <div class="form_title">Name</div>
                                <input type="text" class="comment_input" required="required">
                            </div>
                            <div>
                                <div class="form_title">Email</div>
                                <input type="text" class="comment_input" required="required">
                            </div>
                            <div>
                                <div class="form_title">Message</div>
                                <textarea class="comment_input comment_textarea" required="required"></textarea>
                            </div>
                            <div>
                                <button type="submit" class="comment_button trans_200">submit now</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Contact Info -->
                <div class="col-lg-6">
                    <div class="contact_info">
                        <div class="contact_info_title">Contact Info</div>
                        <div class="contact_info_text">
                            <p></p>
                        </div>
                        <div class="contact_info_location">
                            <div class="contact_info_location_title">Data-center</div>
                            <ul class="location_list">
                                <li>1515 Port Industrial Way, Quincy, WA 98848, US</li>
                                <li>1-234-567-89011</li>
                                <li>info.deercreative@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
