
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/User/Views/Shared/_LayoutMain.cshtml";
}

    <div class="container">
        <div class="create-wrap">
            <div class="create-section">
                <h3 class="create-name-title">Create your blog</h3>
                <div class="create-box">
                    <div class="create-name-subtitle">Your blog title:</div>
                    <input class="create-section-input" type="text" name="name" value="" />
                </div>
                <div class="create-box">
                    <div class="create-name-subtitle">Upload main image:</div>
                    <div class="file-input-wrapper">
                        <button class="btn-file-input counter_form_button upload-button">Choose a picture</button>
                        <input class="create-section-input" type="file" name="name" value="" />
                    </div>
                    
                </div>
                <div class="create-text">
                    <textarea class="create-text-input" placeholder="Enter your thoughts here"></textarea>
                </div>
                <button class="home_search_button create-button">Create</button>
            </div>
        </div>




    </div>

