

/*New content here*/

/*Question*/
.content-course-align-none {
    align-items: flex-start;
}
.tab > a {
    color: #384158;
}
.content-course {
    border-radius: 6px;
    padding-top: 45px;
}
.question-wrap {
    padding: 55px;
    border: solid 1px #ebebeb;
}

.question-title {
    margin-bottom: 30px;
    font-size: 26px;
}

.question-form {
    margin-bottom: 90px;
}

.question-paragraph {
    width: 60%;
    margin-bottom: 30px;
}

.question-area {
    width: 100%;
    height: 105px;
    border-radius: 4px;
}

.question-button {
    width: 130px;
    margin: 0;
    margin-top: 25px;
    display: block;
    box-shadow: 0px 1px 10px rgba(29,34,47,0.1);
    border-radius: 4px;
}

.question-body {
    width: 70%;
    margin: auto;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.question-button-send {
    margin-left: auto;
}
/*Quiz*/
.question-quiz {
    margin-bottom: 25px;
}

.form-quiz {
    line-height: 45px;
    margin-bottom: 55px;
}

.quiz-title {
    font-size: 26px;
    margin-bottom: 26px;
}

.quiz-option {
    margin-bottom: 2px;
    padding-left: 30px;
    border-radius: 5px;
    background-color: rgba(20, 189, 238, .4);
}


/*video*/

.video-wrap {
    text-align: center;
}

.video {
    min-height: 100%;
    display: flex;
    justify-content: center;
}

/*text task*/
.task-container-video {
    width: 100%;
}
.text-task {
    margin: auto;
    text-align: justify;
    width: 75%;
    text-indent: 5%;
}

.question-title {
    text-indent: 0;
}

.question-subtitle {
    margin-bottom: 15px;
}


/*стили для create*/
.creator-menu {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.creator-menu-title {
    background-color: #14bdee;
    color: #FFFFFF;
    padding-top: 0.75rem;
    padding-right: 1.25rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    border-top: 1px solid transparent;
    border-radius: 1px;
}

.drop-menu {
    flex-basis: 44%;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 15px;
}
.menu-input {
    min-height: 135px;
}
.input-duration {
    width: 35px;
    margin-top: 1px;
}

.course-info-column {
    flex-basis: 55%;
}
.course-info-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu-options {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}
.menu-options>label {
    flex-basis: 100%;
}
.menu-options-categories {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    vertical-align: middle;
}
.menu-options-categories>span {
    padding-top: 7px;
}
.menu-options-category {
    flex-basis: 47%;
    }
.menu-options-full-raw {
    width: 100%;
}
.creator-menu-title-buttons {
    padding: 0;
}
.courses-menu-button {
    background-color: #14bdee;
    width: 20%;
    margin-top: 0;
    color: white;
    border: none;
    height: 45px;
    box-shadow: 1px;
}
.courses-menu-button:hover {
    cursor: pointer;
    background-color: #1a9ec4;
}
.courses-menu-button:focus {
    outline: none;
}
.courses-menu-button-chosen {
    background-color: #1a9ec4;
}
.course-info-o {
    margin-top: 0;
}
.button-add-var {
    margin-left: 15px;
}
.quiz-add-var {
    display: flex;
}
.delete-var {
    display:inline;
    font-size: 16px;
    font-weight: 800;
    color:red;
}
.delete-var:hover {
    cursor: pointer;
}
.quiz-variants {
    list-style-type: disc;
}
.additional-var {
    margin-left: 25px;
    background-color: rgba(226, 8, 8, 0.30);
    border-radius: 5px;
    margin-bottom: 1px;
}
.wrong-var {
    background-color: rgba(75, 172, 0, 0.30);
}
.home-create {
    height: 200px;
}
.form_name {
    margin: auto;
}
.title-create {
    margin-top: 30px;
    margin-bottom: 30px;
}
.title-create>span {
    color: #14bdee;
}
.quiz_options {
    list-style-type: none;
}
.quiz_options>li {
    margin-left: 0;
    padding-left: 0;
}
/*Login-form*/
.login-form-center {
    margin: 300px auto 300px auto;
}
.login-form {
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #d8dee2;
    padding: 20px;
    margin: 0;
}
.login-form-input {
    margin-bottom: 15px;
    margin-top: 5px;
    display: block;
    width: 100%;
    background-position: right 8px center;
    background-repeat: no-repeat;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
    line-height: 20px;
    min-height: 34px;
    padding: 6px 8px;
    vertical-align: middle;
}
.login-form-input:focus {
    border-color: #2188ff;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075), 0 0 0 0.2em rgba(3,102,214,.3);
    outline: none;
}
.btn-custom {
    display: block;
    text-align: center;
    width: 100%;
    background-color: #14bdee;
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
}
.login-title {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -.5px;
    color: #384158;
    margin-bottom: 25px;
}
/*UploadContent*/
.upload-video {
    margin-top: 130px;
    margin-bottom: 35px;
    padding: 20px;
}
.content-uploading {
    height: 30vh;
}
.content-uploading>img {
    height: 100%;
}
.uploading-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 1px solid #fff;
    border-radius: .25rem;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}
.form-group-upload {
    text-align: center;
    width: 100%;

}
.form-group-upload>label {
    margin-bottom: 30px;

}
.add-course-picture {
    display: flex;
}
.input-group {
    display: flex;
    justify-content: space-around;
}
.input-group-video {
    margin-top: 60px;
}
.add-video>form {
    margin-bottom: 10px;
}
.file-input {
    width: 200px;
    height: 40px;
    overflow: hidden;
    position: relative;
}
.file-input-wrapper > input[type="file"] {
    font-size: 45px;
    position: absolute;
    top: 0;
    width: 200px;
    height: 40px;
    right: 0;
    opacity: 0;
}

.file-input-wrapper > .btn-file-input {
    display: inline-block;
    width: 200px;
    height: 40px;
}

.file-input-wrapper:hover > .btn-file-input {
    background-color: #aaa;
}
.add-video>form {
    display:flex;
}
.add-video-box {
    width: 73%;
    padding: 14px;
    display: flex;
    margin: auto;
    align-items: center;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    justify-content: space-between;
}
.counter_form_button-video {
    margin-top: 0;
}
.add-video-text {
    margin-left: 30px;
    
}
.add-video {
    width: 100%;
    align-items: center;
}
.upload-button {
    margin-top: 20px;
    color: #fff
}

/*courses/details*/

.fa-row {
    padding-left: 30px;
}
.course_image> img {
    width: 100%;
}