.my-info {
    color: white;
    padding-top: 65px;
    padding-bottom: 75px;
    margin-top: 109px;
    min-height: 200px;
    background-color: #393939;
    background: url(/images/newsletter.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}

    .my-info::before {
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.04);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 0
    }

.my-info-content {
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-info-avatar {
    display: flex;
    align-items: flex-start;
    border-radius: 50%;
    height: 190px;
    width: 190px;
    overflow: hidden;
}

    .my-info-avatar > img {
        width: 100%;
    }

.my-info-name {
    margin-bottom: 40px;
    color: white;
}

    .my-info-name > h1 {
        color: white;
        word-break: break-word;
    }

.my-info-courses {
    display: flex;
}

.my-info-course {
    font-size: 24px;
    margin-right: 35px;
}

.info-course-small {
    font-size: 16px;
}

.my-courses-title {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(159, 159, 159, .2);
    margin-bottom: 40px;
}

.my-courses-counter {
    margin-bottom: 20px;
}

.my-courses-done {
    font-size: 16px;
}

.my-courses-create-buttons {
    margin-top: 30px;
    display: flex;
}

.creator-button {
    background-color: transparent;
    width: 150px;
}

.creator-button-big {
    width: 126px;
    margin-right: 30px;
}

.creator-button-xl {
    width: 207px;
    margin-right: 30px;
}

.my-courses-box {
    border: 1px solid #ebebeb;
    border-radius: 4px;
    margin-bottom: 25px;
}

.my-courses-box-top {
    display: flex;
    padding: 10px;
}

.my-courses-box-image {
    display: flex;
    flex-basis: 25%;
    margin-right: 50px;
    height: 135px;
    overflow: hidden;
    align-items: center;
}

    .my-courses-box-image > img {
        width: 100%
    }

.my-courses-box-info {
    padding: 10px;
    width: 100%;
}

.my-courses-box-date {
    width: 100%;
    display: flex;
    justify-content: space-between
}

    .my-courses-box-date > form {
        text-align: center;
    }

.my-courses-box-title {
    margin-bottom: 10px;
    width: 62%;
    word-break: break-all;
}

.courses-box-statistic {
    width: 100%;
    margin-bottom: 25px;
}

    .courses-box-statistic > h3 {
        line-height: 1.5;
    }

.my-courses-box-button {
    width: 100%;
    padding: 0px 30px;
}

.my-courses-box-button-materials {
    margin-bottom: 5px;
    padding: 0px 11px;
    font-size: 12px;
    height: 28px;
    width: 100%;
}

.courses-buttons-block {
    display: flex;
    flex-wrap: wrap;
}

    .courses-buttons-block > form {
        flex-basis: 100%;
    }

.my-courses-manager {
    margin-bottom: 60px;
    margin-top: 60px;
}

.courses-duration {
    padding-left: 30px;
    flex-basis: 14%;
}

.courses-status {
    margin-right: 40px;
    padding-left: 20px;
    padding-top: 19px;
    word-break: break-word;
    width: 52%;
}

.courses-duration:before {
    content: '';
    display: block;
    background: url(/images/calendar-icon.svg) center no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
    position: relative;
    top: 20px;
    left: -30px;
}

.my-courses-box-bottom {
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    align-items: center;
}

.professor-avatar {
    margin-right: 15px;
    display: flex;
    align-items: flex-start;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    overflow: hidden;
}

    .professor-avatar > img {
        width: 100%;
    }
.my-courses-box-second {
    padding: 10px;
    flex-basis: 33%
}

.my-courses-box-second-title {
    word-break: break-word;
    line-height: 1.5;
    flex-basis: 100%;
    margin-bottom: 10px;
}
