@model  OnlineCourseSystem.Domain.Model.ApplicationUser
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">

</div>         

