@model  IEnumerable<OnlineCourseSystem.Domain.Model.User>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="table-title">
            List of users
        </div>
        <table id="customers" class="table table-bordered table-hover table-custom">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>Confirmed</th>
                    <th>Details</th>
                    <th>Delete</th>
                </tr>
            </thead>
                
                @foreach (var e in Model)
                {
                    <tr>
                        <td>@e.UserName</td>
                        <td>@e.EmailConfirmed?Yes:No</td>
                        <td>Details</td>
                        <td>Delete</td>
                    </tr>
                }

        </table>
    </div>
</div>
