@using OnlineCourseSystem.Domain.Model.Tasks
@model System.Collections.Generic.IEnumerable<OnlineCourseSystem.Domain.Model.Tasks.Task>


<div class="tabs d-flex flex-row align-items-center justify-content-start">

    @foreach (var name in Model)
    {
        <div class="tab"><a class="searchitem" data-id="@name.Order" href="javascript:void(0)">@name.Name</a></div>
    }

</div>

@foreach (var task in Model)
{
    <div class="task" data-orderId="@task.Order">


        @if (task is QuestionTask)
        {
            @await Html.PartialAsync("Partial/_QuestionTask", (QuestionTask)task);
        }
        @if (task is QuizTask)
        {
            @await Html.PartialAsync("Partial/_QuizTask", (QuizTask)task);
        }
        @if (task is TextTask)
        {
            @await Html.PartialAsync("Partial/_TextTask", (TextTask)task);
        }
        @if (task is VideoTask)
        {
            @await Html.PartialAsync("Partial/_VideoTask", (VideoTask)task);
        }
    </div>
}

<script>

    $( document ).ready(function() {
    $(".task").hide();
    });


    $(".tab").on("click", function (event) {
        var taskId = $(this).find("a").data("id");

        $(".task").hide();
        $(".task[data-orderId='" + taskId + "']").show();
    });











</script>