@using OnlineCourseSystem.Domain.Model.Tasks
@model System.Collections.Generic.IEnumerable<OnlineCourseSystem.Domain.Model.Tasks.Task>


<nav class="dropdownmenu">
    <ul>
        @foreach (var name in Model)
        {
            <li class="topic-menu"><a class="searchitem"  data-id="@name.Id" href="javascript:void(0)">@name.Name</a></li>
        }
    </ul>
</nav>

@foreach (var task in Model)
{
<div class="task" data-taskId="@task.Id">


    @if (task is QuestionTask)
    {
        @await Html.PartialAsync("Partial/_QuestionTask", (QuestionTask) task);
    }
    @if (task is QuizTask)
    {
        @await Html.PartialAsync("Partial/_QuizTask", (QuizTask) task);
    }
    @if (task is TextTask)
    {
        @await Html.PartialAsync("Partial/_TextTask", (TextTask) task);
    }
    @if (task is VideoTask)
    {
        @await Html.PartialAsync("Partial/_VideoTask", (VideoTask) task);
    }
</div>
}

<script>



    $(".topic-menu").on("click", function(event){
        var taskId = $(this).find("a").data("id");

        $(".task").hide();
        $(".task[data-taskId='"+taskId+"']").show();
    });


 







    
</script>