@using OnlineCourseSystem.Domain.Model.Tasks
@model System.Collections.Generic.IEnumerable<OnlineCourseSystem.Domain.Model.Tasks.Task>


<div class="tabs d-flex flex-row align-items-center justify-content-start">

    @foreach (var name in Model)
    {
        <div class="tab tab-course"><a class="searchitem" data-id="@name.Order" href="javascript:void(0)">@name.Name</a></div>
    }

</div>

@foreach (var task in Model)
{
    <div class="task" data-orderId="@task.Order">


        @if (task is QuestionTask)
        {
            @await Html.PartialAsync("Partial/_QuestionTask", (QuestionTask)task);
        }
        @if (task is QuizTask)
        {
            @await Html.PartialAsync("Partial/_QuizTask", (QuizTask)task);
        }
        @if (task is TextTask)
        {
            @await Html.PartialAsync("Partial/_TextTask", (TextTask)task);
        }
        @if (task is VideoTask)
        {
            @await Html.PartialAsync("Partial/_VideoTask", (VideoTask)task);
        }
    </div>
}

<script>

    $( document ).ready(function() {
        $(".task").hide();
        $('a[data-id="1"]').click();
        $('a[data-id="1"]').parent().addClass("active");
    });


    $(".tab").on("click", function (event) {
        var taskId = $(this).find("a").data("id");
        $('.active').removeClass("active");
        $(this).addClass("active");
        $(".task").hide();
        $(".task[data-orderId='" + taskId + "']").show();
    });

    $(".move-next-btn").on("click", function (event) {

        var taskId = ($(".active").find("a").data("id")) + 1;
        $("a[data-id='" + taskId + "']").click();

    });
    $(".move-back-btn").on("click", function (event) {

        var taskId = ($(".active").find("a").data("id")) - 1;
        $("a[data-id='" + taskId + "']").click();       
    });
    








</script>