
@{
    ViewData["Title"] = "Заглушка";
    Layout = "_LayoutMain";
}

<H1  style="text-align: center; font-size: 300%; font-family: Verdana, Arial, Helvetica, sans-serif; color: #336">
    Сайт реконструируется. Тут ничего нет:)</H1>