@model  IEnumerable<OnlineCourseSystem.Domain.Model.User>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <table id="customers" class="table table-bordered table-hover">
            <tr>
                <th>UserName</th>
                <th>Confirmed</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
            @foreach (var e in Model)
            {
                <tr>
                    <th>@e.UserName</th>
                    <th>@e.EmailConfirmed?Yes:No</th>
                    <th>Details</th>
                    <th>Delete</th>
                </tr>
            }

        </table>
    </div>
</div>
