@model OnlineCourseSystem.Domain.Model.Event
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

    <div class="container">
        <div class="details">
            <div class="details-header">
                Event Details
            </div>


            <div class="details-content">
                
                <div class="details-content-row">
                    Name: <span class="details-info">@Model.Name</span>
                </div>

                <div class="details-content-row">
                    Id: <span class="details-info">@Model.Id</span>
                </div>

                <div class="details-content-row">
                    Start time: <span class="details-info">@Model.Time</span>
                </div>

                <div class="details-content-row">
                    Description: <span class="details-info">@Model.Text</span>
                </div>
                <form asp-action="Index" asp-controller="Event">
                    <button class="home_search_button details-button">BACK</button>
                </form>
            </div>


        </div>


    </div>
    
    

