@model  OnlineCourseSystem.Domain.Model.Course
@{
    ViewData["Title"] = "Course";
    Layout = "~/Areas/User/Views/Shared/_LayoutMain.cshtml";
}

<div class="home">
    <div class="breadcrumbs_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumbs">
                        <ul>
                            <li><!--<a href="index.html">Home</a>--></li>
                            <li><!--<a href="courses.html">Courses</a>--></li>
                            <li>Course Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="pushy pushy-left">
    <div class="menu-label">
        <h2 class="course-name">@Model.Name</h2>
    </div>
    <div class="pushy-content">
        <ul>
            <!-- Submenu -->
            @await Component.InvokeAsync("Sections", new {idOfCourse = Model.Id})
        </ul>
    </div>
</nav>
<!-- Course -->
<div class="site-overlay"></div>
<div class="course">
    <div class="container">
        <div class="row">

            <!-- Course -->
            <div class="col-lg-12">

                <div class="course_container">
                    <button class="menu-btn">&#9776; Menu</button>
                    <div class="course_info d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">

                        <div class="content-course" id="course-content"></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/js/pushy.min.js"></script>
<script src="~/styles/bootstrap4/popper.js"></script>
<script src="~/styles/bootstrap4/bootstrap.min.js"></script>
<script src="~/js/course.js"></script>

<script>


    $('.dropdownmenu > li >a').click(function() {
        console.log('clicked');
    });


    $(".topic-menu").on("click", function(event){
        console.log('clicked');
    });

    $(document).ready(function() {

        var container = $("#course-content");
        console.log(container);
        $.get(`/ApplicationUser/Study/Task/?courseId=@Model.Id&topicId=${$('.content-link').data("id")}`,
            function (data) { container.html(data); });

        

        
        
    });

  



    $('.content-link').on("click",
        function() {
            var topicId = $(this).data("id");
            courseContent(topicId);
        });

    function courseContent(topicId) {
        var container = $("#course-content");
        $.get(`/ApplicationUser/Study/Task/?courseId=@Model.Id&topicId=${topicId}`, function (data) { container.html(data); });
        
    }
</script>